<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title> BOOKING </title>
</head>
<body background= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTTUnI0DSwnGUJw8A2fGVOoCPcYHY45fTgRhPZtlZowPpKU4VwBg" style="color:#FFFFFF">
	<h1> BOOKING </h1>
	<br>
	<h2 align='center'> YOUR FLIGHTS <h2>
	<p>
		<table align = "center" border = 5>
			<tr>
				<th> USER </th>
			</tr>
		
			<tr>
				<td th:text="${User.user}"> </td>
			</tr>
		</table>
	</p>
	<br>
	<br>
	<p>
		<table align = 'center' border = 5>
			<tr th:each="booking: ${bookings}">
				<th th:text="${}"> FLIGHT ID </th>
				
				<th th:text="${}"> AIRLINE </th>
	
				<th th:text="${}"> ORIGIN </th>
	
				<th th:text="${}"> DESTINATION </th>

				<th th:text="${}"> DEPARTURE DATE </th>
				
				<th th:text="${}"> DEPARTURE TIME </th>

				<th th:text="${}"> ARRIVAL DATE </th>
				
				<th th:text="${}"> ARRIVAL TIME </th>
				
				<th th:text="${}"> OFFER </th>
			</tr>
			<tr th:each="Flights : ${Flights}">
				
				<td th:text="${Booking.id}"></td>
				
				<td th:text="${Flight.airline}"></td>
				
				<td th:text="${Flight.origin}"{></td>
				
				<td th:text="${Flight.destination}"></td>
				
				<td th:text="${Flight.departureDate}"></td>
				
				<td th:text="${Flight.departureTime}"></td>
				
				<td> th:text="${Flight.arrivalDate</td>
				
				<td> th:text="${Flight.arrivalTime</td>
				
				<td th:text="${></td>
			</tr>
		</table>
	</p>
	<br>
	<br>
	<p align='center'>
		<button> GO BACK </button>
	</p>
</body>
</html>