<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org>
<head>
	<title> BOOKING </title>
</head>
<body background= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTTUnI0DSwnGUJw8A2fGVOoCPcYHY45fTgRhPZtlZowPpKU4VwBg" style="color:#FFFFFF">
	<h1> BOOKING </h1>
	<br>
	<h2 align='center'> YOUR FLIGHTS <h2>
	<p>
		<table align = "center" border = 5>
			<tr>
				<th> USER </th>
			</tr>
		
			<tr>
				<td> Bombergio </td>
			</tr>
		</table>
	</p>
	<br>
	<br>
	<p>
		<table align = 'center' border = 5>
			<tr>
				<th> FLIGHT ID </th>
				
				<th> AIRLINE </th>
	
				<th> ORIGIN </th>
	
				<th> DESTINATION </th>

				<th> DEPARTURE DATE </th>
				
				<th> DEPARTURE TIME </th>

				<th> ARRIVAL DATE </th>
				
				<th> ARRIVAL TIME </th>
				
				<th> OFFER </th>
			</tr>
			<tr>
				<td><input type="text" name="id" DISABLED></td>
				
				<td><input type="text" name="airline" DISABLED></td>
				
				<td><input type="text" name="origin" DISABLED></td>
				
				<td><input type="text" name="destination" DISABLED></td>
				
				<td><input type="text" name="ddate" DISABLED size="30"></td>
				
				<td><input type="text" name="dtime" DISABLED></td>
				
				<td><input type="text" name="adate" DISABLED size="25"></td>
				
				<td><input type="text" name="atime" DISABLED></td>
				
				<td><input type="text" name="offer" DISABLED></td>
			</tr>
		</table>
	</p>
	<br>
	<br>
	<p align='center'>
		<button> GO BACK </button>
	</p>
</body>
</html>