<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Confirm purchase</title>
		<link rel="stylesheet" type="text/css" href="../css/estilo.css">
	</head>
	<body text="white" background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTTUnI0DSwnGUJw8A2fGVOoCPcYHY45fTgRhPZtlZowPpKU4VwBg">
		<header>
			<h2>Your trip to "destination"</h2>
		</header>
		
		<nav></nav>
		
		<main>
		<div id="idaVuelta">
			<article id="ida">
			<h3>Going</h3>
				<p>Departure date</p>
				<div>
					<section class="origen">
						INFORMATION OF ORIGIN
						<dl>
						<dd>DATE</dd>
						<dd>HOUR</dd>
						<dd>AIRPORT</dd>
						<dd>CITY</dd>
						</dl>
					</section>
					<section class="destino">
						INFORMATION OF DESTINATION
						<dl>
						<dd>DATE</dd>
						<dd>HOUR</dd>
						<dd>AIRPORT</dd>
						<dd>CITY</dd>
						</dl>
					</section>
				</div>
			</article>
			<article id="vuelta">
			<h3>Return</h3>
				<p>Return date</p>
				<div>
					<section class="origen">
						INFORMACION DE ORIGEN
						<dl>
						<dd>DATE</dd>
						<dd>HOUR</dd>
						<dd>AIRPORT</dd>
						<dd>CITY</dd>
						</dl>
					</section>
					<section class="destino">
						INFORMACION DE DESTINO
						<dl>
						<dd>DATE</dd>
						<dd>HOUR</dd>
						<dd>AIRPORT</dd>
						<dd>CITY</dd>
						</dl>
					</section>
				</div>
			</article>
		</div>
			<aside id="resumen">
			<h3>Your trip to "destination"</h3>
			<section class="res"><img src="LogoAerolinea.jpg"></section>
			<div class="opciones">
				
				<ul>Destination</ul>
					<li></li>
				<ul>Price</ul>
					<li></li>
			</div>
			</aside>
		
		</main>
		
		<footer>
			<button type="button" id="volv" href="">BACK</button>
			<button type="button" id="conf" href="">CONFIRM</button>
		</footer>
	</body>
</html>