<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title> CHOOSING ONE OPTION </title>
</head>
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTTUnI0DSwnGUJw8A2fGVOoCPcYHY45fTgRhPZtlZowPpKU4VwBg" style="color:#FFFFFF">
	<h1> CHOOSE ONE OPTION </h1>
	<div style="width: 330px; margin: 0 auto;">
		<button><a href="Search"> SEARCH </a></button>
		<button><a href="Booking"> MY FLIGHTS </a></button>
	</div>
		<p align='center' >
			<button><a href="login"> GO BACK </a></button>
		</p>
</body>
</html>