<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="estilos/estilos.css" rel="stylesheet" type="text/css">
</head>
<body>
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTTUnI0DSwnGUJw8A2fGVOoCPcYHY45fTgRhPZtlZowPpKU4VwBg" style="color:#FFFFFF"
width="500" height="500"/>


<table border="1" style="margin: 0 auto;">

<caption align="top">Ida y Vuelta.</caption>
  <tr >

    <th >Airline</th>

    <th>DepartureDate</th>

    <th>DepartureTime</th>
	
	<th>ArrivalDate</th>
	
	<th>ArrivalTime</th>
	
	<th>Destination</th>
	
  </tr>
  
    <tr>
	
    <td th:text="${Flight.airline}"></td>

    <td th:text="${Flight.departureDate}"></td>

    <td th:text="${Flight.departureTime}"></td>
	
	<td th:text="${Flight.arrivalDate}"></td>
	
	<td th:text="${Flight.arrivalTime}"></td>
	
	<td th:text="${Flight.destination}"></td>

  </tr>
  
 
  <tr>
	
    <td th:text="${Flight.airline}"></td>

    <td th:text="${Flight.departureDate}"></td>

    <td th:text="${Flight.departureTime}"></td>
	
	<td th:text="${Flight.arrivalDate}"></td>
	
	<td th:text="${Flight.arrivalTime}"></td>
	
	<td th:text="${Flight.destination}"></td>

  </tr>
	<form>
  <input type = "button" value = "Back" style="text-align:center" onclick = "Search()">
</form>
<script language="JavaScript"> 
function Search(){ 
window.location="Search";
}
</script>
</body>

</html>
