<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org>
<head>
<link href="estilos/estilos.css" rel="stylesheet" type="text/css">
</head>
<body>
<body background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTTUnI0DSwnGUJw8A2fGVOoCPcYHY45fTgRhPZtlZowPpKU4VwBg" 
width="500" height="500"/>


<table border="1" style="margin: 0 auto;">

<caption align="top">Ida.</caption>
  <tr >

    <th >Airline</th>

    <th>DepartureDate</th>

    <th>DepartureTme</th>
	
	<th>ArrivalDate</th>
	
	<th>ArrivalTime</th>
	
	<th>Destination</th>
	
  </tr>
  
    <tr>

    <td></td>

    <td></td>

    <td></td>
	
	<td></td>
	
	<td></td>
	
	<td></td>

  </tr>

  <tr>

    <td></td>

    <td></td>

    <td></td>
	
	<td></td>
	
	<td></td>
	
	<td></td>

  </tr>

  <tr>

    <td></td>

    <td></td>
	
	<td></td>
	
	<td></td>
	
	<td></td>
	
	<td></td>

  </tr>

  <tr>

    <td></td>

    <td></td>
	
	<td></td>
	
	<td></td>
	
	<td></td>
	
	<td></td>

  </tr>

</table>
	<table border="1" style="margin: 0 auto;">	
	<caption align="top">Vuelta.<font size="20"></caption>
		<tr>

		<th>Airline</th>

		<th>DepartureDate</th>

		<th>DepartureTme</th>
		
		<th>ArrivalDate</th>
		
		<th>ArrivalTime</th>
		
		<th>Destination</th>
		
	  </tr>
	  
		<tr>

		<td></td>

		<td></td>

		<td></td>
		
		<td></td>
		
		<td></td>
		
		<td></td>

	  </tr>

	  <tr>

		<td></td>

		<td></td>

		<td></td>
		
		<td></td>
		
		<td></td>
		
		<td></td>

	  </tr>

	  <tr>

		<td></td>

		<td></td>
		
		<td></td>
		
		<td></td>
		
		<td></td>
		
		<td></td>

	  </tr>

	  <tr>

		<td></td>

		<td></td>
		
		<td></td>
		
		<td></td>
		
		<td></td>
		
		<td></td>

	  </tr>

	</table>
	<form>
  <input type = "button" value = "Volver" style="text-align:center" onclick = "history.go (-1)">
</form>
</body>

</html>
