<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>INSERT FLIGHTS</title>
</head>
<body background= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTTUnI0DSwnGUJw8A2fGVOoCPcYHY45fTgRhPZtlZowPpKU4VwBg" style="color:#FFFFFF">
	<h1> INSERT FLIGHTS </h1>
	<br>
	<h2 align='center'>INSERT</h2>
	<p text="Insert "><table align = "center" border = 5>

  <tr>
	
	<th> ID </th>
	
    <th> AIRLINE </th>
	
	<th> ORIGIN </th>
	
	<th> DESTINATION </th>

    <th> DEPARTURE DATE </th>
	
	<th> DEPARTURE TIME </th>
	
	<th> ARRIVAL DATE </th>
	
	<th> ARRIVAL TIME </th>
	

  </tr>

  <tr>
	
	<td><input type="text" size="15" maxlength="30" value="Write here..." name="idflight"></td>

    <td><input type="text" size="15" maxlength="30" value="Write here..." name="airline"></td>

    <td><input type="text" size="15" maxlength="30" value="Write here..." name="origin"></td>

    <td><input type="text" size="15" maxlength="30" value="Write here..." name="destination"></td>
	
	<td><input type="date" name="departureDate"></td>
	
	<td><input type="time" name="departureTime"></td>
	
	<td><input type="date" name="arrivalDate"></td>
	
	<td><input type="time" name="arrivalTime"></td>
	

  </tr>
  </table>
  </p>
  
  <br>
  <br>
  <br>
  
  <h2 align='center'> FLIGHTS </h2>
  <p text="Insert "><table align = "center" border = 5>

  <tr>
	
	<th > ID </th>
	
    <th > AIRLINE </th>
	
	<th > ORIGIN </th>
	
	<th > DESTINATION</th>

    <th> DEPARTURE DATE </th>

	<th> ARRIVAL DATE </th>
	

  </tr>

  <tr  th:each="flight: ${flights}">
	
	<td th:text="${flight.id}"></td>

    <td th:text="${flight.airline}"></td>

    <td th:text="${flight.origin}"></td>

    <td th:text="${flight.destination}"></td>
	
	<td  th:text="${flight.departureDate}"></td>
	
	<td  th:text="${flight.arrivalDate}"></td>

  </tr>

</table></p>

		<div align ='center'> 
			<button> SAVE </button>
			<button> UPDATE </button>
			<button> DELETE </button>
			<button> DISCOUNTS </button>
		</div>
	
</body>
</html>