<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DragonFlights</title>
	
</head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body text="white" background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTTUnI0DSwnGUJw8A2fGVOoCPcYHY45fTgRhPZtlZowPpKU4VwBg" background-position="bottom" "right">
<h1>Search Flights</h1>
	<br>
	<br>
<p><table align ="center">
<tr>
<th>
<form action="/action_page.php">
<p>Departures</p>
  <input list="Departure" name="Departure">
  <datalist id="Departure">
    <option value="">
    <option value="">
    <option value="">
    <option value="">
    <option value="">
  </datalist>
</form>
</th>
<th>
</p>
<form action="/action_page.php">
<p>Destination</p>
  <input list="Departure" name="Departure">
  <datalist id="Departure">
    <option value="">
    <option value="">
    <option value="">
    <option value="">
    <option value="">
  </datalist>
</form>
</th>
<th>
<p>Departure Datetime</p>
<form action="/action_page.php">
  <input type="date" name="bdaytime">
</form>
</th>
<th>
<p>Return Datetime</p>
<form action="/action_page.php">
  <input type="date" name="bdaytime">
</form>
</th>
<tr>
<table align="center">
<tr>
<th width="50%">
</th>
<th>
<form action="/action_page.php">
<input type="checkbox" name="vehicle1" value="Bike">
roundtrip
</form> 
</th>
</tr>
</table>
<div align='center' >
    <button class='btn-bot'>Search</button>
</div>
</body>	
</html>