<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>DragonFlights</title>

</head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body text="white"
	background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTTUnI0DSwnGUJw8A2fGVOoCPcYHY45fTgRhPZtlZowPpKU4VwBg"
	background-position="bottom">

				<form action="/Search">
	<h1>Search Flights</h1>
	<br>
	<br>
	<p>

	<div style="color:red; font-weight: boldest" th:if="${not #lists.isEmpty(errors)}">
			<p th:each="error: ${errors}" th:text="${error}">
			</p>
	 </div>
	<table align="center">
		<tr>
		<th>
					<p>Departures</p>
					<select name="originId">
						<option value="">--Please select one--</option>
						<option th:each="departure: ${departures} " th:text="${departure.name}"
							th:value="${departure.id}" th:selected="${parameters != null && #strings.equals(parameters.get('originId'), departure.id)}"></option>
					</select>
			</th>
			<th>
				</p>
					<p>Destination</p>
					<select name="destinationId">
						<option value="">--Please select one--</option>
						<option th:each="departure: ${departures} " th:text="${departure.name}"
							th:value="${departure.id}" th:selected="${parameters != null && #strings.equals(parameters.get('destinationId'), departure.id)}"></option>
					</select>
			</th>
			<th>
				<p>Departure Date</p>
					<input type="date" name="bdaytime">
			</th>
			<th>
				<p>Return Date</p>
					<input type="date" name="bdaytime">
			</th>
		<tr>
			<table align="center">
				<tr>
					<th width="50%"></th>
					<th>
							<input type="checkbox" name="roundtrip" value="typeTrip">
							Roundtrip
					</th>
				</tr>
			</table>
			<div align='center'>
				<input type="submit" value="Search"/>
			</div>
</form>

</body>
</html>