<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DragonFlights</title>
	
</head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body text="white" background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTTUnI0DSwnGUJw8A2fGVOoCPcYHY45fTgRhPZtlZowPpKU4VwBg" background-position="bottom" "right">
<h1>Search Flights</h1>
	<br>
	<br>
<p><table align ="center">
<tr th th:each="flights: ${discounts}">
<th >
<select name="Departures">
   <option selected value="0"> Departures </option>
       <option value="1"></option> 
       <option value="2"></option> 
       <option value="3"></option> 
   </optgroup> 
       <option value="10"></option> 
       <option value="11"></option> 
       <option value="12"></option> 
   </optgroup> 
</select>
</th>
<th>
</p>
<select name="Destination">
   <option selected value="0"> Destination </option>
       <option value="1"></option> 
       <option value="2"></option> 
       <option value="3"></option> 
   </optgroup> 
       <option value="10"></option> 
       <option value="11"></option> 
       <option value="12"></option> 
   </optgroup> 
</select>
</th>
<th>
<p>Departure Date</p>
<form>
  <div>
    <label for="bday"></label>
    <input type="date" id="bday" name="bday">
  </div>
</form>
</th>
<th>
<p>Return Date</p>
<form>
  <div>
    <label for="bday"></label>
    <input type="date" id="bday" name="bday">
  </div>
</form>
</th>
<tr>
<table align="center">
<tr>
<th width="50%">
</th> 
<th>
<p>roundtrip</p>
<input type="checkbox" name="roundtrip" value="typeTrip">
</th>
</tr>
</table>
<div align='center' >
		    <button class='btn-bot'><a href="GoingBack">Search</a></button>
		</div>	
</body>	
</html>